root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cs,vb}]

csharp_indent_case_contents_when_block = false

dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default

# IDE0048: Add parentheses for clarity
dotnet_diagnostic.IDE0048.severity = suggestion

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = silent

# IDE0251: Make member 'readonly'
dotnet_diagnostic.IDE0251.severity = suggestion

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = suggestion

# IDE0001: Name can be simplified
dotnet_diagnostic.IDE0001.severity = silent

# IDE0061: Use block body for local function
csharp_style_expression_bodied_local_functions = when_on_single_line

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0022: Use expression body for method
dotnet_diagnostic.IDE0022.severity = silent

# IDE0024: Use block body for operator
csharp_style_expression_bodied_operators = when_on_single_line

# CA2241: Provide correct arguments to formatting methods
dotnet_diagnostic.CA2241.severity = error

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = silent
