/Library
/Logs
/Temp
/UserSettings
/Build

/Assets/Packages
/Assets/SceneDependencyCache
/Assets/Thirdparty
/Assets/Utils/Editor
/Assets/TextMesh Pro
/Assets/Samples
/Assets/_Recovery

/Packages/packages-lock.json

/sessions
/tiles

*.csproj
*.slnx
*.meta
mono_crash.*.blob
