:root {
    --error: rgb(255, 63, 25);
    --warning: rgb(255, 160, 51);
    --ok: rgb(69, 255, 122);
    --foregroundPrimary: rgb(224, 222, 244);
    --foregroundSecondary: rgb(144, 140, 170);
    --windowBackground: rgb(0, 0, 0);
    --windowBorder: rgb(68, 68, 68);
    --widgetBackground: rgb(0, 0, 0);
    --widgetBorder: rgb(0, 0, 0);
    --unfocusedBackground: rgb(0, 0, 0);
    --unfocusedBorder: rgb(68, 68, 68);
    --focusedBackground: rgb(0, 0, 0);
    --focusedForeground: rgb(255, 255, 255);
    --focusedBorder: rgb(255, 255, 255);
    --activeBackground: rgb(255, 255, 255);
    --activeForeground: rgb(0, 0, 0);
    --activeBorder: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/UI/Fonts/UbuntuNerdFont-Regular.ttf?fileID=12800000&guid=6543d423e60b6f58e8760292a8f19e0e&type=3#UbuntuNerdFont-Regular");
}

.panel {
    background-color: var(--windowBackground);
    min-width: 150px;
    border-color: var(--windowBorder);
    border-width: 1px;
}

Label {
    color: var(--foregroundPrimary);
}

Label.error {
    color: var(--error);
}

Label.secondary {
    color: var(--foregroundSecondary);
}

TextField > #unity-text-input {
    background-color: var(--unfocusedBackground);
    border-color: var(--unfocusedBorder);
    color: var(--foregroundPrimary);
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    --unity-cursor-color: var(--foregroundPrimary);
    border-width: 1px;
}

TextField > #unity-text-input:enabled:hover,
TextField > #unity-text-input:enabled:focus,
TextField > #unity-text-input:enabled:active {
    background-color: var(--focusedBackground);
    border-color: var(--focusedBorder);
}

Button {
    background-color: var(--unfocusedBackground);
    border-width: 1px;
    border-color: var(--unfocusedBorder);
    color: var(--foregroundPrimary);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
}

Button:enabled:hover,
Button:enabled:focus {
    background-color: var(--focusedBackground);
    border-color: var(--focusedBorder);
    color: var(--focusedForeground);
}

Button:enabled:active {
    background-color: var(--activeBackground);
    border-color: var(--activeBorder);
    color: var(--activeForeground);
}

#root {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition-property: all, opacity;
    transition-duration: 0s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#root.visible {
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

ScrollView.menulist #unity-content-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

TextField > Label {
    min-width: auto;
    min-height: auto;
}

.unity-scroller--vertical {
    border-left-width: 0;
}

.unity-scroller--horizontal {
    border-left-width: 0;
}

.unity-scroller--vertical {
    width: 10px;
}

.unity-scroller--horizontal {
    height: 10px;
}

.unity-scroller--vertical > #unity-low-button,
.unity-scroller--horizontal > #unity-low-button,
.unity-scroller--horizontal > #unity-high-button,
.unity-scroller--vertical > #unity-high-button {
    width: 8px;
    height: 8px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(48, 48, 48);
}

.unity-scroller--vertical > #unity-low-button:hover,
.unity-scroller--horizontal > #unity-low-button:hover,
.unity-scroller--horizontal > #unity-high-button:hover,
.unity-scroller--vertical > #unity-high-button:hover,
.unity-scroller--vertical > #unity-low-button:focus,
.unity-scroller--horizontal > #unity-low-button:focus,
.unity-scroller--horizontal > #unity-high-button:focus,
.unity-scroller--vertical > #unity-high-button:focus,
.unity-scroller--vertical > #unity-low-button:active,
.unity-scroller--horizontal > #unity-low-button:active,
.unity-scroller--horizontal > #unity-high-button:active,
.unity-scroller--vertical > #unity-high-button:active {
    background-color: var(--focusedBackground);
    -unity-background-image-tint-color: var(--focusedForeground);
}

.unity-scroller--vertical > #unity-slider,
.unity-scroller--horizontal > #unity-slider {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.unity-scroller--vertical > #unity-slider {
    min-width: auto;
    width: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unity-scroller--horizontal > #unity-slider {
    min-height: auto;
    height: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.unity-scroller--vertical > #unity-slider > VisualElement,
.unity-scroller--horizontal > #unity-slider > VisualElement {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-tracker,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-tracker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger-border,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger-border {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger,
.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    margin-left: 0;
    margin-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(255, 0, 255);
    margin-top: 0;
    margin-bottom: 0;
}

.unity-scroller--vertical > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    left: auto;
    width: 8px;
}

.unity-scroller--horizontal > #unity-slider > VisualElement > #unity-drag-container > #unity-dragger {
    top: auto;
    height: 8px;
}

Scroller #unity-tracker {
    background-color: rgba(0, 0, 0, 0);
}

Scroller {
    border-left-width: 1px;
    background-color: var(--widgetBackground);
    border-left-color: rgba(0, 0, 0, 0);
}

ProgressBar > #unity-progress-bar > .unity-progress-bar__background {
    background-color: var(--widgetBackground);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: var(--widgetBorder);
    border-right-color: var(--widgetBorder);
    border-top-color: var(--widgetBorder);
    border-bottom-color: var(--widgetBorder);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
}

ProgressBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(110, 106, 134);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.error > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: var(--error);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.warning > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: var(--warning);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar.success > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(49, 116, 143);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ProgressBar > #unity-progress-bar {
    max-height: 15px;
    min-height: 15px;
}

ProgressBar .unity-progress-bar__title-container {
    justify-content: flex-start;
}

ProgressBar Label {
    padding: 0;
    padding-left: 2px;
    font-size: 8px;
    --unity-text-align: left;
}

.unity-tab__header {
    background-color: var(--widgetBackground);
    border-bottom-width: 0;
    border-top-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.unity-tab__header:hover {
    background-color: var(--widgetBackground);
    border-bottom-width: 0;
    border-top-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: var(--focusedBorder);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.unity-tab__header:checked {
    background-color: var(--widgetBackground);
    border-bottom-width: 0;
    border-top-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: var(--activeBorder);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.unity-tab__header-underline {
    display: none;
    bottom: -6px;
    position: relative;
}

.unity-tab-view__header-container {
}

.unity-tab-view .unity-tab {
}

.unity-tab-view__content-container {
    flex-grow: 1;
}

.unity-tab__content-container {
    flex-grow: 1;
}

#container-unit-commands #unit-command-button {
    min-width: 100px;
}

#container-unit-quick-commands #unit-command-name {
    font-size: 20px;
}
